<html>
    <body>
        <div style="text-align:center">
            <h1>Welcome to QuotingDojo</h1>
        </div>
        
        <div>
            <form action='/quotes' method='post'>
                Your name:  <input type="text"    name="name" >
                Your quote: <textarea type="text" name="quote"  minlength="4" maxlength="200" placeholder="Add quote"  rows="10" cols="80"></textarea>
                <input class="submit" type='submit' value='Add my quote'> <br><br> <input class="submit" type='submit' value='Skip to quote'>
            </form>
        </div>
    </body>
</html>
